{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Edit Casting</h1>
     <a href="{{ path('app_back_casting_index') }}" class="text-danger bg-dark">back to list</a>
    <div class=" text-xl text-light font-weight-bold bg-dark bg-gradient">
    {{ include('back/casting/_form.html.twig', {'button_label': 'Update'}) }}

   

    {{ include('back/casting/_delete_form.html.twig') }}
      </div>
{% endblock %}
