{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="text-xl text-light font-weight-bold bg-dark bg-gradient">
    <a href="{{ path('app_back_movie_index') }}" class="text-danger bg-dark" >back to list</a>
    <h1>Create new Movie</h1>

    {{ include('back/movie/_form.html.twig') }}
</div>

{% endblock %}
