{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <a href="{{ path('app_back_actor_index') }}"  class="text-danger bg-dark" >back to list</a>
    <h1>Edit Actor</h1>
<div class=" text-xl text-light font-weight-bold bg-dark bg-gradient">
    {{ include('back/actor/_form.html.twig', {'button_label': 'Update'}) }}

    </div>

    {{ include('back/actor/_delete_form.html.twig') }}
{% endblock %}
