{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Create new Actor</h1>
<div class=" text-xl text-light font-weight-bold bg-dark bg-gradient">
    {{ include('back/actor/_form.html.twig') }}

    <a href="{{ path('app_back_actor_index') }}"  class="text-danger bg-dark" >back to list</a>
    </div>
{% endblock %}
